html {
    overflow:hidden;
    background:black;
    color:white;

}
body {
    height: 100%;
    overflow: hidden;
}
h1{
    margin-left:50%;
    color:black;
    font-size: calc(((1vh+1vw)/2)*20);
    color: #eb1dfd;
    font-family: 'Bodoni Moda', serif;
    z-index:1000000;
    position:sticky;
}
#gripper {
    font-family: 'Bodoni Moda', serif;


}
#shortDescription {

    font-family: 'Slabo 27px', serif;
    margin-left:2.5%;
    font-size: calc(((1vh+1vw)/2)*4);
font-family: 'Roboto Mono', monospace;


}
#arrow {
    filter: invert();
}

    #circles {
    }


#lang {

position:fixed;
top:20%;
left:30%;
z-index:99999999;
margin-left:20px;

    }
#lang button {

width: fit-content;
}

#mas {
position:fixed;
top:45%;
left:65%;
z-index:99999999;

}
.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

#redes *{
width:15%;
}
#ig {
position:fixed;
top:0%;
left:40%;
filter:invert();
cursor:pointer;
z-index:999999;
}
#yt {
position:fixed;
left:45%;
top:0%;
filter:invert();
cursor:pointer;
z-index:999999;
}
#spot {
position:fixed;
left:50%;
top:0%;
filter:invert();
cursor:pointer;
z-index:999999;
}
#bc {
position:fixed;
left:55%;
top:0%;
filter:invert();
cursor:pointer;
z-index:999999;
}
#banda{
    position:fixed;
    top:0%;
    z-index:0;
}
#marian,#circles{
    z-index:1;
    position:sticky;

}
@media (min-width: 600px){ --desktop

        #banda {
        position:fixed;
        width: 100%;
        height: auto;
        top:0px;
        display:initial;
        }
    #circles {
        position:fixed;
        top:7%;
        right:10%;
        width:20% !important;
        height:auto;
        }
        #shortDescription {
        position:fixed;
        top:35%;
        width:50%;
        background:black;
              white-space:wrap;
        }
    #arrow {display:none;}
    #marian {

        position:fixed;
        width:30%;
        height:auto;
        top:0%;
        left:5%;

    }
    #shortDescription {
    }
}


@media (max-width: 600px){ --mobile
    html {

        overflow:hidden;

    }
    #circles{
        position:fixed;
        width:30%;
        bottom:-30%;
        right:10%;
    }
    #marian{
        position:fixed;
        width:30%;
        bottom:-20%;
        right:10%;
    }

        #banda {

        transform: rotate(90deg);
        width:200%;
        height:200%;

        position:fixed;
        top:-50%;
        right:-50%;
        filter:drop-shadow(12px 12px 25px rgba(255,255,255,.4));
        }
        h1{
            margin-left:25%;
            margin-top:15%;
            font-size: calc(((1vh+1vw)/2)*15);

        }
        #arrow {
        position:fixed;
        bottom:0%;
        left:45%;
        }
    #shortDescription {
            display:none;
            position:absolute;
            overflow-Y:scroll;
              white-space:wrap;
              width:80%;
              height:50%;
    font-size: calc(((1vh+1vw)/2)*5);

        }
    #redes *{
    width:30%;
    }
    #ig {
    left: 25%;
    }
    #yt {
    left:40%;
    }
    #spot {
    left:55%;
    }
    #bc {
    left:70%;
    }

    #esp {

    position:fixed;
    top:24%;
    left:10%;
    z-index:99999999;

        }
    #eng {

    position:fixed;
    top:24%;
    left:60%;
    z-index:99999999;

        }

        #mas {
        visibility:hidden;
        }

}

